.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 686px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 588px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px 30px 20px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 119px 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 532px;
}

.u-section-1 .u-container-layout-2 {
  padding-top: 20px;
}

.u-section-1 .u-image-1 {
  width: 497px;
  height: 497px;
  background-image: url("images/IMG-20200106-WA0011.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 35px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 527px;
  }

  .u-section-1 .u-image-1 {
    width: 451px;
    height: 451px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 22px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 482px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 335px;
    height: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-1 .u-image-1 {
    width: 503px;
    height: 503px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 349px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/Badge_ITS.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 48px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 49px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
  }
}.u-section-3 {
  background-image: url("images/-min.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 761px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 2;
  width: 589px;
  font-weight: 700;
  text-transform: none;
  margin: 63px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 0 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 154px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 395px;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-3 .u-icon-1 {
  height: 88px;
  width: 132px;
  background-image: none;
  margin: 71px auto 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 10px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 395px;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-3 .u-icon-2 {
  height: 54px;
  width: 105px;
  background-image: none;
  margin: 73px auto 0;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 48px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 154px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 154px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 395px;
}

.u-section-3 .u-container-layout-6 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-3 .u-icon-3 {
  height: 61px;
  width: 104px;
  margin: 71px auto 0;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 33px 0 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 395px;
}

.u-section-3 .u-container-layout-7 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-3 .u-icon-4 {
  height: 59px;
  width: 109px;
  margin: 89px 30px 0 auto;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 35px 1px 0;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 154px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px 20px;
}

.u-section-3 .u-layout-cell-9 {
  min-height: 154px;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-10 {
  min-height: 395px;
}

.u-section-3 .u-container-layout-10 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-3 .u-icon-5 {
  height: 78px;
  width: 78px;
  margin: 62px auto 0;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 127px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 326px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 326px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 127px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 127px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 326px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 326px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 127px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 127px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 326px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1350px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 243px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 243px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 243px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 486px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1473px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 365px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 365px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 365px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 365px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 230px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 230px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 230px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 230px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 230px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1315px;
}

.u-section-4 .u-shape-1 {
  width: 643px;
  background-image: none;
  height: 1048px;
  margin: 77px auto 0 193px;
}

.u-section-4 .u-gallery-1 {
  width: 985px;
  height: 679px;
  grid-gap: 10px 10px;
  margin: -941px auto 0 48px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 20px 20px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-group-1 {
  width: 470px;
  min-height: 444px;
  background-image: none;
  margin: -69px 0 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 100px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: 587px;
    height: 898px;
    margin-top: 65px;
    margin-right: 160px;
    margin-left: auto;
  }

  .u-section-4 .u-gallery-1 {
    width: 879px;
    margin-top: -773px;
    margin-left: 0;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-group-1 {
    margin-top: -87px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    width: 506px;
    height: 1379px;
    margin-top: 77px;
    margin-right: auto;
    margin-left: 81px;
  }

  .u-section-4 .u-gallery-1 {
    width: 720px;
    margin-top: -1296px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-group-1 {
    margin-top: -121px;
    margin-right: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    width: 402px;
    height: 2907px;
    margin-left: 0;
  }

  .u-section-4 .u-gallery-1 {
    width: 440px;
    margin-top: -2842px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    width: 425px;
    margin-top: -140px;
    margin-right: 0;
    margin-bottom: 112px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    width: 276px;
    height: 2201px;
  }

  .u-section-4 .u-gallery-1 {
    width: 305px;
    margin-top: -2136px;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    min-height: 464px;
    width: 305px;
    margin-top: 60px;
    margin-bottom: -523px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1027px;
}

.u-section-5 .u-image-1 {
  width: 759px;
  height: 737px;
  margin: 60px 0 0 auto;
}

.u-section-5 .u-group-1 {
  min-height: 418px;
  width: 498px;
  margin: -828px auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 40px;
}

.u-section-5 .u-shape-1 {
  width: 69px;
  height: 69px;
  margin: 52px auto 0 0;
}

.u-section-5 .u-text-1 {
  text-transform: none;
  font-family: Alata;
  letter-spacing: normal;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-group-2 {
  width: 375px;
  min-height: 421px;
  margin: 68px auto -32px 270px;
}

.u-section-5 .u-container-layout-2 {
  padding: 50px 0;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 1.875rem;
  margin: 7px 40px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 40px 0;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 1.875rem;
  margin: 20px 40px 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: 18px 40px 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 52px auto 0 40px;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  margin: -32px 0 0 80px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1087px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1147px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 699px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -790px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 524px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -615px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-group-2 {
    margin-left: 165px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1152px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 330px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-top: -421px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-5 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 23px;
    margin-right: 22px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
    margin-left: 23px;
    margin-right: 22px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 23px;
    margin-right: 22px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 45px;
  }
}